In [ ]:
# Import python libraries
import numpy as np
import pandas as pd
%matplotlib notebook

In [ ]:
# Import data
dataset = pd.read_csv('movie_sample_dataset.csv', encoding='utf-8')

In [ ]:
# Drop useless attributes
dataset.drop(['color','language'], axis=1, inplace=True)

In [ ]:
# Handle text attributes
dataset['director_name'].fillna('', inplace=True)

In [ ]:
# Handle numeric attributes
dataset['gross'].fillna(0, inplace=True)
# dataset['gross']=pd.to_numeric(dataset['gross']).astype('float64')
dataset['budget'].fillna(0, inplace=True)

In [ ]:
# Unify countries names
dataset['country']=dataset['country'].str.upper()
dataset['country'] = np.where(dataset['country']=='UNITED STATES','USA', dataset['country'])

In [ ]:
# Bad data entry
dataset['director_name'] = np.where(dataset['director_name']=='N/A','', dataset['director_name'])
dataset['director_name'] = np.where(dataset['director_name']=='Nan','', dataset['director_name'])
dataset['director_name'] = np.where(dataset['director_name']=='Null','', dataset['director_name'])
dataset['movie_title'] = dataset['movie_title'].str.replace('Ã‚', '')

In [ ]:
# Handling outliers
dataset["gross"]=dataset["gross"].astype(float)
dataset["duration"]=dataset["duration"].astype(float)
dataset["budget"]=dataset["budget"].astype(float)

In [ ]:
dataset['duration'] = np.where(dataset['duration']<=10,0, dataset['duration'])
dataset['duration'] = np.where(dataset['duration']>300,0, dataset['duration'])
dataset['imdb_score'] = np.where(dataset['imdb_score']<=0,0, dataset['imdb_score'])
dataset['title_year'] = np.where(dataset['title_year']<2010,0, dataset['title_year'])

In [ ]:
# Normalize data

# spliting actors
actor_list = dataset["actors"].str.split(",", n = 2, expand = True)
dataset["actor1"]= actor_list[0]
dataset["actor2"]= actor_list[1]
dataset["actor3"]= actor_list[2]
dataset.drop(columns=['actors'], inplace=True)

In [ ]:
# Adding new feature

# Add a new metric GOB(Gross over Budget)
dataset['GOB'] = dataset.apply(lambda row: row['gross']/row['budget'] if row['budget']!=0 else 0, axis=1)
top_GOB=dataset.sort_values('GOB',ascending=False).head(15)

In [ ]:
# dataset['title_year'] = dataset['title_year'].apply(np.int64)
# dataset['duration'] = dataset['duration'].apply(np.int64)
dataset.to_csv('output_IMDB.csv')